<div class="filter">
  <div class="filter-header">
    <h4 class="title">Filters</h4>
  </div>

  <div class="filter-main">
    Under construction.
  </div>
</div>


<div class="card">
  <div class="card-header">
    <h3 class="title">Members</h3>
  </div>

  <div class="card-main">
    <div class="table-container">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Country</th>
          <th>Member since</th>
        </tr>

        <tr *ngFor="let member of members">
          <td>{{ member['last-name'] }}, {{ member['first-name'] }}</td>
          <td>{{ member['username'] }}</td>
          <td>{{ member['email'] }}</td>
          <td>{{ member['country'] }}</td>
          <td>{{ member['since'] | date: 'yyyy-MM-dd' }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
