<div class="filter">
  <div class="filter-header">
    <h4 class="title">Filters</h4>
  </div>

  <div class="filter-main">
    <div class="row row-align-bottom">
      <div class="col-sm">
        <div class="form-group">
          <label for="filterLastName">Last name</label>
          <input id="filterLastName" type="search"
                 [(ngModel)]="filters.lastName"
                 (input)="onFiltersChange()">
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label for="filterFirstName">First name</label>
          <input id="filterFirstName" type="search"
                 [(ngModel)]="filters.firstName"
                 (input)="onFiltersChange()">
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label for="filterCountry">Country</label>
          <select id="filterCountry"
                  [(ngModel)]="filters.country"
                  (change)="onFiltersChange()">
            <option value="">All</option>
            <option *ngFor="let country of countries"
                    [value]="country">
              {{ country }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label for="filterSince">Member since</label>
          <input id="filterSince" type="date"
                 [(ngModel)]="filters.memberSince"
                 (change)="onFiltersChange()">
        </div>
      </div>

      <div class="col-sm-auto">
        <div class="form-group">
          <button class="button button-link" (click)="onFiltersReset()">
            Reset filters
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <h3 class="title">Members</h3>
    <label>
      (Showing {{ this.membersFiltered.length }} of
      {{ this.members.length }} members)
    </label>
  </div>

  <div class="card-main">
    <div class="table-container">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Country</th>
          <th>Member since</th>
        </tr>

        <tr *ngFor="let member of members |
        filterCountry: filters.country |
        filterMemberSince: filters.memberSince |
        filterName: { 'first-name': filters.firstName, 'last-name': filters.lastName }">
          <td>{{ member['last-name'] }}, {{ member['first-name'] }}</td>
          <td>{{ member['username'] }}</td>
          <td>{{ member['email'] }}</td>
          <td>{{ member['country'] }}</td>
          <td>{{ member['member-since'] | date: 'yyyy-MM-dd' }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
